.page {
	width: 100vw;
	height: 100vh;
}
.addTodoList {
	height: 30%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: cadetblue;
}

.input {
	font-size: 1.25rem;
	padding: 0.5rem;
	width: 500px;
}
.addButton {
	padding: 1rem 2rem;
	font-size: 1.25rem;
}

.showTodoList {
	height: 70%;
	width: 100%;
	background-color: lightgrey;
}
